* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Andada Pro", serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
}

:root {
  /* for sign up */
  --color1: #17213a;
  --color2: #dc768c;
  --color3: #666b81;
  --color4: #7e889d;
  --color5: #4c5c8a;
  --color6: #8494ac;

  /* for sign in */
  --color7: #14163e;
  --text: #fafafb;
  --color9: #f03b7a;
  --color0: #aeb0bf;
  --color11: #747c92;
  --color12: #808494;

  /* for webpage */
  --color13: #1f201a;
  --color14: #ed836d;
  --color15: #f3fbfb59;
  --color16: #73350b;
  --color17: #9a5c26;
  --color18: #5c6c6c;
}

body {
  background: linear-gradient(to top left, #e08432ea, #fd5f3fe7, #f03b7a);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-size: auto;
  background-repeat: repeat-y;
  width: auto;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
.circle {
  border-radius: 49% 51% 42% 58% / 30% 52% 48% 70%;
  width: 520px;
  height: 520px;
  background-image: linear-gradient(
    to right top,
    #9415cb,
    #ba00b3,
    #d3009b,
    #e20084,
    #eb1270
  );
  box-shadow: -11px 4px 57px 17px rgba(102, 92, 92, 0.75);
  -webkit-box-shadow: -11px 4px 57px 17px rgba(102, 92, 92, 0.75);
  -moz-box-shadow: -11px 4px 57px 17px rgba(102, 92, 92, 0.75);
  position: absolute;
  bottom: 0;
  top: 0;
}
.irr {
  border-radius: 49% 51% 42% 58% / 30% 52% 48% 70%;
  width: 520px;
  height: 520px;
  box-shadow: -11px 4px 57px 17px rgba(51, 48, 48, 0.75);
  -webkit-box-shadow: -11px 4px 57px 17px rgba(102, 92, 92, 0.75);
  -moz-box-shadow: -11px 4px 57px 17px rgba(46, 44, 44, 0.897);
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec
  );

  position: absolute;
  bottom: 0;
  left: 0;
}
.straight {
  box-shadow: -11px 4px 57px 17px rgba(51, 48, 48, 0.75);
  -webkit-box-shadow: -11px 4px 57px 17px rgba(102, 92, 92, 0.75);
  -moz-box-shadow: -11px 4px 57px 17px rgba(46, 44, 44, 0.897);
  width: 500px;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  transform: rotate(270deg);
  border-radius: 24% 76% 70% 30% / 30% 73% 27% 70%;
  height: 500px;
  position: absolute;
  right: 0px;
  bottom: 0;
  top: 0;
  margin: 0;
  transform: rotateZ(45deg);
}

.Wrapper {
  /* position: absolute; */
  top: 10px;
  border-radius: 10px;
  margin: 50px;
  background-color: var(--color15);
  min-height: 100vh;
  padding: 30px 0;
  overflow: hidden;
  backdrop-filter: blur(0.8rem);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
/* #content{
  display: block;
} */
#content.active {
  display: none;
}
.content {
  display: none;
}
.content.active {
  display: block;
}

h2 {
  margin: 80px;
  padding: 20px;
  font-size: xx-large;
  color: #41dfff;
  text-shadow: 0.4px 0.6px 12px rgb(56, 55, 55);
}
.para {
  margin: 80px;
  padding: 20px;
  width: 30vw;
  font-size: larger;
  color: #41dfff;
  text-shadow: 0.4px 0.6px 12px rgb(56, 55, 55);
}
#add-map {
  margin-top: 30px;
  height: 50vh;
  display: none;
}
#add-map.active {
  display: flex;
  background-color: #14163e;
}
nav {
  margin-top: -30px;
  height: 80px;
  display: flex;
  align-items: center;
  background: #fafafb;
}
.after.active {
  display: flex;
}

.before {
  display: flex;
  width: 100vw;
  /* justify-content: space-between;     */
}

.after {
  display: none;
  width: 100vw;
  /* justify-content: space-between;     */
}

li {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #1f201a;
  font-size: x-large;
  font-weight: bolder;
  padding: 10px;
}

#set {
  margin-left: auto;
}

#sign-in {
  font-size: large;
  padding-top: 15px;
  text-align: center;
  letter-spacing: 3px;
  /* border: solid; */
  margin-right: 30px;
}
.sign {
  cursor: pointer;
  margin-left: 10px;
  /* box-shadow: 0px 10px 20px 2px #1f201a; */
  text-shadow: 0px 1px #cdcec9;
}

#sign-up {
  background: linear-gradient(to top left, #c58043, #fc5432, #f03b7a);
  font-size: large;
  border-radius: 30px;
  padding: 0px 30px;
  letter-spacing: 0.1rem;
  margin-right: 30px;
  border: none;
  color: var(--text);
  cursor: pointer;
  transform: scale(1);
}

/* a:hover {
  color: grey;
  background-color: rgb(181, 118, 240);
} */

.nest {
  background-color: #17213ac5;
  /* position: absolute; */
  width: 60%;
  display: none;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 10px 20px 2px #1f201a;
}
.nest.active {
  display: flex;
}

#close {
  padding: 10px;
  background-color: rebeccapurple;
  border: none;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  font-size: larger;
  font-weight: 700;
  color: #f3fbfb;
  border-radius: 50%;
}

#container {
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #5c6c6c0e;
}

#container.active {
  display: flex;
}
/* .house {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 100vw;
  background-color: #5c6c6c0a;
}

.house.active {
  display: flex;
} */
.glass {
  position: relative;
  background-color: var(--color7);
  padding: 0px 20px;
  height: 70vh;
  width: 60vw;
  margin-right: 100px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 2px #1f201a;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.glass.active {
  display: flex;
}

h5,
h6,
h3 {
  color: var(--text);
  margin-bottom: 50px;
  text-align: center;
}

h3 {
  margin-top: 40px;
  margin-bottom: 30px;
}
.play {
  color: #f3fbfb;
  width: 100%;
  text-align: end;
  margin-bottom: 40px;
  /* position: relative; */
}

p {
  margin-bottom: 20px;
  margin-left: 0px;
}

label {
  padding-bottom: 4px;
  margin-bottom: 15px;
  color: var(--text);
}

/* #password2,
#password1,
#email,
#username {
  
} */

input {
  margin-top: 16px;
  display: block;
  width: 300px;
  height: 50px;
  background-color: #17213a;
  opacity: 0.5;
  outline: none;
  padding-left: 10px;
  border-style: solid;
  border-width: thin;
  border-color: #f3fbfb;
  border-radius: 5px;
  color: var(--text);
}
#password2:focus,
#password1:focus,
#email:focus,
#username:focus {
  background-color: #17213a;
}

span {
  color: red;
  margin-left: 0px;
}
.submit {
  background-color: #f03b7a !important;
  opacity: 1;
  margin-top: 40px;
}

.submit2 {
  background-color: #f03b7a;
  opacity: 1;
  margin-top: 40px;
}
.pass {
  margin-left: 30px;
}

footer {
  height: 100px;
  margin-top: 30px;
  width: 1000px;
  background-color: #212463e1;
  text-align: center;
}
.footer {
  background-color: #f03b7a;
  color: var(--text);
  border-radius: 5px;
  padding: 5px 20px;
  margin-left: 20px;
  font-size: medium;
}
.foot {
  margin: 30px;
  color: var(--text);
}

/*MOBILE DEVICES*/

@media /*320 and 240 screen 480 screen*/(max-width: 368px) {
  * {
    font-size: xx-small;
    letter-spacing: normal;
  }
  body {
    height: 80%;
  }
  .circle {
    width: 50px;
    height: 50px;
  }
  .irr {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  .straight {
    width: 50px;
    height: 50px;
  }

  .Wrapper {
    top: 10px;
    border-radius: 10px;
    margin: 20px;
    height: 50vh;
    padding: 30px 0;
  }

  h2 {
    margin: 20%;
    padding: 5px;
    font-size: x-small;
  }
  .para {
    margin: 20%;
    padding: 5px;
    width: 40vw;
    font-size: 8px;
  }
  #add-map {
    height: 100vh;
  }
  nav {
    margin-top: -30px;
    height: 40px;
  }

  ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  a {
    display: none;
  }

  #sign-in {
    padding-top: 10px;
    width: 70px;
    display: inline;
    font-size: x-small;
    letter-spacing: normal;
  }
  .sign {
    margin-left: 10px;
  }

  #sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 15px;
    font-size: 8px;
    border-radius: 15px;
    padding: 12px;
    margin-top: 4px;
    margin-right: 10px;
  }

  #close {
    text-align: center;
    font-size: xx-small;
    padding: 0;
    font-weight: 400;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  .nest #close {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .nest /* sign up display*/ {
    width: 90%;
    padding: 20px;
    margin: 50px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
  }

  /* Sign up screen*/
  .nest #form {
    padding: 0 20px;
  }
  .nest #form input {
    margin-top: 16px;
    width: 150px;
    height: 25px;
    font-size: xx-small;
    padding-left: 10px;
    border-radius: 5px;
  }
  .nest #form p {
    margin-bottom: 10px;
  }
  .nest #form p label {
    padding-bottom: 4px;
    margin-bottom: 10px;
  }

  .nest h5 {
    margin-bottom: 10px;
    display: none;
  }
  .nest .play {
    font-size: 8px;
    width: 200px;
    padding: 0%;
    margin-right: 0px;
    margin-left: -50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nest .play .sign {
    color: #41dfff;
    font-size: 8px;
  }

  .nest #form .submit {
    margin-top: 30px;
    cursor: pointer;
  }
  .nest #form .submit:hover {
    background: #cc1061;
  }
  #container {
    min-height: 100%;
    width: auto;
  }

  .glass {
    padding: 0px 20px;
    height: 100%;
    width: 80%;
    margin-right: 0px;
    position: relative;
  }

  .glass #close {
    text-align: center;
    font-size: xx-small;
    padding: 0;
    font-weight: 400;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .glass #form2 {
    height: 100%;
    margin-top: 10px;
  }
  .glass #form2 input {
    margin-top: 16px;
    width: 150px;
    height: 25px;
    font-size: xx-small;
    padding-left: 10px;
    border-radius: 5px;
  }

  .glass h3 {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  label {
    padding-bottom: 4px;
    margin-bottom: 15px;
  }

  .pass {
    margin-left: 10px;
  }

  footer {
    height: 80px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px 20px;
    width: 200%;
  }
  .footer {
    font-size: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 40px;
    text-align: center;
    margin-left: 8px;
    display: inline-block;
  }

  .foot {
    /* border: solid; */
    text-align: center;
    margin-left: 0px;
    padding-left: 20px;
    font-size: 8px;
    width: auto;
  }
}

@media /*320 and 240 screen 480 screen*/(min-width: 369px) and (max-width: 967px) {
  * {
    font-size: xx-small;
    letter-spacing: normal;
  }
  body {
    height: 80%;
  }
  .circle {
    width: 50px;
    height: 50px;
  }
  .irr {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  .straight {
    width: 50px;
    height: 50px;
  }

  .Wrapper {
    top: 10px;
    border-radius: 10px;
    margin: 20px;
    height: 50vh;
    padding: 30px 0;
  }

  h2 {
    margin: 20%;
    padding: 5px;
    font-size: x-small;
  }
  .para {
    margin: 20%;
    padding: 5px;
    width: 40vw;
    font-size: 8px;
  }
  #add-map {
    height: 100vh;
  }
  nav {
    margin-top: -30px;
    height: 40px;
  }

  ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  a {
    font-size: small;
  }
  #sign-in {
    padding-top: 10px;
    width: 100px;
    display: inline;
    font-size: small;
  }
  .sign {
    margin-left: 10px;
  }

  #sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 15px;
    font-size: 10px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 3px;
  }

  #close {
    text-align: center;
    font-size: xx-small;
    padding: 0;
    font-weight: 400;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  .nest #close {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .nest /* sign up display*/ {
    width: 90%;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    position: relative;
  }

  /* Sign up screen*/
  .nest #form {
    padding: 0 20px;
  }
  .nest #form input {
    margin-top: 16px;
    width: 250px;
    height: 25px;
    font-size: xx-small;
    padding-left: 10px;
    border-radius: 5px;
  }
  .nest #form p {
    margin-bottom: 10px;
  }
  .nest #form p label {
    padding-bottom: 4px;
    margin-bottom: 10px;
  }

  .nest h5 {
    margin-bottom: 10px;
    display: none;
  }
  .nest .play {
    font-size: 8px;
    width: 200px;
    padding: 0%;
    margin-right: 0px;
    margin-left: -50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nest .play .sign {
    color: #41dfff;
    font-size: 8px;
  }

  .nest #form .submit {
    margin-top: 30px;
    cursor: pointer;
  }
  .nest #form .submit:hover {
    background: #cc1061;
  }
  #container {
    min-height: 100%;
    width: auto;
  }

  .glass {
    padding: 0px 20px;
    height: 100%;
    width: 80%;
    margin-right: 0px;
    position: relative;
  }

  .glass #close {
    text-align: center;
    font-size: xx-small;
    padding: 0;
    font-weight: 400;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .glass #form2 {
    height: 100%;
    margin-top: 10px;
  }
  .glass #form2 input {
    margin-top: 16px;
    width: 250px;
    height: 25px;
    font-size: x-small;
    padding-left: 10px;
    border-radius: 5px;
  }

  .glass h3 {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  label {
    padding-bottom: 4px;
    margin-bottom: 15px;
  }

  .pass {
    margin-left: 10px;
  }

  footer {
    height: 80px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px 20px;
    width: 400%;
  }
  .footer {
    font-size: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 40px;
    text-align: center;
    margin-left: 8px;
    display: inline-block;
  }

  .foot {
    /* border: solid; */
    text-align: center;
    margin-left: 0px;
    padding-left: 20px;
    font-size: 8px;
    width: auto;
  }
}

@media /**/ (min-width: 968px) and (max-width: 1278px) {
  * {
    font-size: large;
    letter-spacing: normal;
  }
  body {
    height: 80%;
  }

  .circle {
    width: 50px;
    height: 50px;
  }
  .irr {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  .straight {
    width: 50px;
    height: 50px;
  }

  .Wrapper {
    top: 10px;
    border-radius: 10px;
    margin: 20px;
    height: 50vh;
    padding: 30px 0;
  }

  h2 {
    margin: 20%;
    padding: 5px;
    font-size: x-small;
  }
  .para {
    margin: 20%;
    padding: 5px;
    width: 40vw;
    font-size: 8px;
  }
  #add-map {
    height: 100vh;
  }
  nav {
    margin-top: -30px;
    height: 70px;
  }

  ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  a {
    display: inline;
  }

  #sign-in {
    padding-top: 16px;
    width: 120px;
    display: inline;
    font-size: 15px;
  }
  .sign {
    margin-left: 10px;
  }

  #sign-up {
    text-align: center;
    width: 120px;
    height: 30px;
    font-size: 16px;
    border-radius: 15px;
    padding: 0px 15px;
    margin-top: 8px;
    margin-right: 20px;
  }

  #close {
    text-align: center;
    font-size: large;
    padding: 0;
    background-color: red;
    font-weight: 400;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  .nest #close {
    position: absolute;
    left: 20px;
    top: 10px;
  }
  .nest /* sign up display*/ {
    height: 100%;
    width: 90%;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    position: relative;
  }

  /* Sign up screen*/
  .nest #form {
    padding: 0 20px;
  }
  .nest #form input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px;
  }
  .nest #form p {
    margin-bottom: 10px;
  }
  .nest #form p label {
    padding-bottom: 4px;
    margin-bottom: 10px;
  }

  .nest h5 {
    margin-bottom: 10px;
    display: none;
  }
  .nest .play {
    font-size: large;
    width: 100%;
    padding: 0%;
    margin-right: 0px;
    margin-left: -50px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .nest .play .sign {
    color: #41dfff;
    font-size: larger;
  }

  .nest #form .submit {
    margin-top: 30px;
    height: 50px;
    cursor: pointer;
  }
  #container {
    min-height: 100%;
    width: auto;
  }

  .glass /* SIG IN PAGE*/ {
    padding: 30px 20px;
    height: 100%;
    width: 80%;
    margin-right: 0px;
    position: relative;
  }

  .glass #close {
    text-align: center;
    padding: 0;
    font-weight: 400;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .glass #form2 {
    height: 100%;
    margin-top: 10px;
  }
  .glass #form2 input {
    margin-top: 30px;
    width: 260px;
    height: 30px;
    font-size: small;
    padding-left: 10px;
    border-radius: 5px;
  }
  .glass #form2 .submit2 {
    height: 40px;
    cursor: pointer;
  }
  .glass h3 {
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  label {
    padding-bottom: 4px;
    margin-bottom: 10px;
    font-size: large;
  }

  .pass {
    margin-left: 10px;
    font-size: large;
  }

  footer {
    height: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px 20px;
    width: 200%;
  }
  .footer {
    font-size: 10px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 60px;
    text-align: center;
    margin-left: 8px;
    display: inline-block;
  }

  .foot {
    /* border: solid; */
    text-align: center;
    margin-left: 0px;
    padding-left: 20px;
    font-size: 12px;
    width: auto;
  }
}
